[submodule "koka/kklib/mimalloc"]
	path = koka/kklib/mimalloc
	url = https://github.com/microsoft/mimalloc

[submodule "effekt/kiama"]
	path = effekt/kiama
	url = git@github.com:effekt-lang/kiama.git
	branch = main

[submodule "effekt-ml/kiama"]
	path = effekt-ml/kiama
	url = git@github.com:effekt-lang/kiama.git
	branch = main
